body {
    font-family: Calibri, Verdana, Sans-Serif;
    background: #eeeeee;
    padding-top: 40px;
    margin: 0;
    color: #686868;

  }
  .slot {
    margin:1px;
    padding:0 5px 0 5px;
    width:100%;
    height:35px;
    vertical-align:bottom;
    text-align: left;
    font-size : 12px;
    font-weight: bold;
    display: inline-flex;
    
    }
    .slotHighlighted {
      background-color: hsl(56, 76%, 63%);
    }
    .slot :hover {
      cursor:pointer; 
    }
    .slotDragAndDropWrapper {


      display:iblock;
    }
    .slotFillet {
      flex: 1 2 20%;
      overflow-wrap: break-word;
      background-color: #ccc;
      height:100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      text-align: center;
    }
   
    .slotData {
      flex: 1 1 80%;
      text-align: right;
      overflow: hidden;
    }
  .kanbanShelfContainer{
      display:flex;
      flex-direction: column;
      
  }
  .kanbanContainer {
    margin-left: 20px;
  }
  .kanbanInputComponent {
    margin: 0px;
    padding: 0px;
    background-color: white;
    border: 1px inset white;
    color: #686868;
    font-size: 24pt;
    display: block;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}